<br />
<input
  placeholder="Search here"
  type="text"
  [(ngModel)]="search"
  class="form-control"
/>
<br />
<table class="table table-bordered" *ngIf="posts as postsData">
  <thead>
    <tr>
      <th>ID</th>
      <th>TITLE</th>
      <th>DESCRIPTION</th>
      <th>ACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of postsData | filter : search">
      <td>{{ post.id }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.description }}</td>
      <td>
        <a class="btn btn-primary" [routerLink]="['edit', post.id]">UPDATE</a>
        &nbsp;
        <button class="btn btn-primary" (click)="deletePost(this.post.id)">
          DELETE
        </button>
      </td>
    </tr>
  </tbody>
</table>
